doctype html
html(lang=en)
  head
    include inc/head.pug
  body
    include inc/nav.pug

    .container
      h1 #{player.name}

      table.table
        thead
          tr
            th Rank
            th Score
            th MoV
            th SoS
        tbody
          tr
            td #{player.rank}
            td #{player.score}
            td #{player.mov}
            td #{player.sos}

    .container
      h3 Matches
      each match in matches
        .panel.panel-default
          .panel-heading
            h3.panel-title Round #{match.roundType} #{match.roundNumber}
          .panel-body
            h4 Table #{match.table}
            p #{match.player1} (#{match.player1points})
            p #{match.player2} (#{match.player2points})
      else
        p No match data yet


    include inc/foot.pug
