extends layout.pug

block content
  each match in matches
    .panel.panel-default
      .panel-heading
        h3.panel-title Table #{match.table}
      .panel-body
        p: a(href='/player/' + encodeURIComponent(match.player1)) #{match.player1} (#{match.player1points})
        p: a(href='/player/' + encodeURIComponent(match.player2)) #{match.player2} (#{match.player2points})
  else
    p No match data yet

  p Last updated:
  p.small #{matches[0].updatedAt}
